html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Playfair Display', serif;
    letter-spacing: .02em;
}

nav {
    height: auto;
    background-color: #212121;
    box-shadow: 0px 0px 10px 1px #000;
    position: fixed;
    width: 100%;
    text-align: center;
    z-index: 2;
}

nav ul {
    width: 100%;
    margin: 0;
    padding: 20px 0px;
}

nav ul li {
    display: inline;
    text-align: center;
    vertical-align: middle;
}

nav ul li a {
    text-decoration: none !important;
    color: #FFF !important;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 15pt;
    margin-left: 50px;
    margin-right: 50px;
    position: relative;
    transition: all 0.3s ease;
    padding-bottom: 3px;
}

nav ul li a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FFF;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

nav ul li a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.home {
    font-family: 'Playfair Display', serif;
    font-size: 30pt;
    line-height: 3vh;
}

.homeR {
    display: none;
}

label {
    margin: 30px !important;
    font-size: 26px;
    display: none !important;
    color: #fff;
    width: 25px;
    float: right;
}

#toggle {
    display: none;
}

@media only screen and (max-width: 747px) {
    label {
        display: block !important;
        cursor: pointer;
    }

    ul {
        text-align: center;
        width: 100%;
        display: none;
        margin-top: 50px !important;
    }

    li a {
        display: block;
        margin: 40px 0 40px 0 !important;
        text-align: center;
    }

    #toggle {
        transition: all 0.3s ease;
    }

    #toggle:checked + ul {
        display: block !important;
    }

    nav ul li a:before {
        height: 0px;
    }

    .home {
        display: none;
    }
    
    .homeR {
        display: block;
    }
}

.bg-header {
    height: 100vh;
    width: 100%;
    background-image: url(../img/bg-header-about.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.headerText {
    color: #212121;
    display: block;
    position: relative;
    text-align: center;
    font-size: 45pt;
    font-weight: 500;
    top: 40vh;
}

.eivain {
    text-align: center;
    font-size: 25pt;
    font-weight: 500;
}

.eivain mark {
    color: #fff;
    background-color: rgba(255, 195, 18, 0.3) !important;
    display: inline-block;
    height: 0.7em;
    padding-left: .2em !important;
    padding-right: .2em !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

@media (max-width: 711px) {
    .headerText {
        font-size: 8vw;
    }

    .headerSubText {
        font-size: 4vw !important;
    }
}

.headerText mark {
    background-color: rgba(255, 195, 18, 0.3) !important;
    display: inline-block;
    height: 0.7em;
    padding-left: .2em !important;
    padding-right: .2em !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.contactMarker a mark {
    background-color: rgba(255, 195, 18, 0.3) !important;
    display: inline-block;
    height: 0.8em;
    padding-left: .5em !important;
    padding-top: 0 !important;
    padding-right: .5em !important;
    padding-bottom: 0 !important;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.headerSubText {
    color: #212121;
    display: block;
    position: relative;
    text-align: center;
    font-size: 20pt;
    font-weight: 500;
    top: 40vh;
    margin-left: auto;
    margin-right: auto;
}

.readMore {
    display: block;
    position: relative;
    text-align: center;
    top: 75%;
    font-size: 15pt;
    color: #212121;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

.arrowDown {
    position: relative;
    text-align: center;
    top: 75%;
}

.arrowDown a img {
    width: 32px;
}

#spacing {
    height: 100px;
}

.LoekKeultjes {
    width: 40%;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

h5 {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 700 !important;
    letter-spacing: 0.2em;
}

.titleResponsive {
    margin-top: 10vh;
}

.marker mark {
    background-color: rgba(255, 195, 18, 0.3) !important;
    display: inline-block;
    height: 0.7em;
    padding-left: .2em !important;
    padding-right: .2em !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.textResponsive {
    width: 60%;
    line-height: 1.5em;
}

.button {
    color: #000;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid white;
    border-top: 2px solid white;
    letter-spacing: 3px;
    font-size: 15pt;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-transform: uppercase !important;
    background-color: #fff;
    padding: 5px 15px;
    transition: all 0.3s ease;
}

.button:hover {
    border: 2px solid rgba(255, 195, 18, 0.3);
}

.vaardigheden {
    margin-bottom: 100px;
    background-color: #212121;
}

.recenteProjecten {
    margin-top: 100px;
}

.owl-carousel .owl-stage {
    display: flex;
    align-items: center;
    margin-bottom: 100px;
}

.vaardigheden .row div h2 {
    font-family: 'Playfair Display', sans-serif;
    text-align: center;
    color: #fff;
}

.vaardigheden .row div p {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #fff;
}

.doubleBlock {
    padding: 0;
    margin-bottom: 80px;
}

.doubleBlock .row {
    margin: 0 50px !important;
}

.doubleBlock .row div span {
    margin-bottom: 20px;
}

.doubleBlock .row div span img {
    height: 122px;
    width: auto;
}

.doubleBlock .row div span h2 {
    font-size: 3rem;
}

.button {
    background: none;
    border: 0;
    box-sizing: border-box;
    padding: 1em 2em;
    color: #000;
    font-size: inherit;
    font-weight: 400;
    position: relative;
    vertical-align: middle;
}

.button::before,
.button::after {
    box-sizing: inherit;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
}

.draw {
    transition: color 0.25s;
}

.draw::before,
.draw::after {
    border: 2px solid transparent;
    width: 0;
    height: 0;
}

.draw::before {
    top: 0;
    left: 0;
}

.draw::after {
    bottom: 0;
    right: 0;
}

.draw:hover {
    color: #000;
    border: rgba(0, 0, 0, 0);
}

.draw:hover::before,
.draw:hover::after {
    width: 100%;
    height: 100%;
}

.draw:hover::before {
    border-top-color: rgba(255, 195, 18, 0.3);
    border-right-color: rgba(255, 195, 18, 0.3);
    transition: width 0.1s ease, height 0.1s ease 0.1s;
}

.draw:hover::after {
    border-bottom-color: rgba(255, 195, 18, 0.3);
    border-left-color: rgba(255, 195, 18, 0.3);
    transition: border-color 0s ease-out 0.1s, width 0.3s ease-out 0.1s, height 0.3s ease-out 0.3s;
}

.arrowDifferTop {
    background-color: #fff;
    justify-content: center;
    margin-bottom: 90px;
}

.arrowDifferTop div {
    height: 25px;
    width: 25px;
    transform: rotate(45deg);
    background-color: #fff;
    margin-bottom: -12px;
}

.arrowDifferBot {
    background-color: #212121;
    justify-content: center;
    margin-top: 10px;
}

.arrowDifferBot div {
    height: 25px;
    width: 25px;
    transform: rotate(45deg);
    background-color: #212121;
    margin-bottom: -12px;
}

.none {
    margin-right: 30px;
}

.display {
    display: flex;
}

@media (max-width: 768px) {
    .titleResponsive {
        text-align: center;
    }

    .textCenter {
        text-align: center;
    }

    .marker {
        text-align: center;
    }

    .textResponsive {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }

    .responsiveMargin {
        margin-bottom: 3rem;
        margin-top: 3rem;
    }

    .display {
        display: block;
    }

    .none {
        display: none;
    }

    .extraCenter {
        text-align: center;
        margin-bottom: 3rem;
    }

    .hoverBG {
        display: none !important;
    }

    .hoverBGmobile {
        display: block !important;
    }
    
    .LoekKeultjes {
        display: none;
    }
    
    .owl-carousel .owl-item img {
        padding: 0 30px;
    }
    
    .doubleBlock .row div span h2 {
        font-size: 2rem;
    }
}


.hoverImgs {
    width: 100%;
    height: 500px;
    object-fit: cover;
    position: absolute;
    filter: opacity(0%);
    transition: all 0.3s ease;
}

.hoverImgs:hover {
    filter: opacity(100%);
}

.hoverBG {
    height: 500px;
    background-color: #212121;
    display: flex;
    justify-content: center;
}

.hoverBGmobile {
    display: none;
}

.hoverBG a {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    position: absolute;
    color: #fff !important;
    z-index: 1;
}

.hoverWork {
    font-weight: 300;
    font-size: 16px;
    text-decoration: underline !important;
    text-transform: uppercase;
    top: 47.3%;
}

.hoverBG a:hover ~ .rotateSquarePos {
    transform: scale(1.2);
}

.rotateSquarePos {
    justify-content: center;
    align-items: center;
    height: 500px;
    transition: all 0.3s ease;
}

.rotateSquarePos:hover {
    transform: scale(1.2);
}

.rotateSquare {
    height: 200px;
    width: 200px;
    transform: rotate(0deg);
    background-color: #212121;
    transition: all 0.3s ease;
    display: flex;
}

.hoverBG:hover .rotateSquare {
    -webkit-box-shadow: 0px 0px 0px 3px rgba(255, 195, 18, 0.6);
    -moz-box-shadow: 0px 0px 0px 3px rgba(255, 195, 18, 0.6);
    box-shadow: 0px 0px 0px 3px rgba(255, 195, 18, 0.6);
    transform: rotate(135deg);
    background-color: rgba(33, 33, 33, 0.6);
}

.hoverBG:hover p {
    color: #fff;
}

/* Footer */
.mdb-color {
    background-color: #212121 !important;
}

footer.page-footer {
    color: #fff;
}

.hrColor {
    background-color: #fff;
}

.lhLow {
    margin-top: 35px;
    line-height: 1.5;
    font-weight: 300;
    font-size: 13px;
}

.footerIcons {
    width: 20px;
    margin: 0 5px 4px 0px;
}

footer div div div h6,
footer div div div p,
footer div div div a:hover {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-weight: 300;
    color: #fff;
}

footer div div div a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-size: 13px;
    font-weight: 300;
    color: #fff;
}

.contactMarker mark {
    background-color: rgba(255, 195, 18, 0.3) !important;
    display: inline-block;
    height: 0.8em;
    padding-left: .5em !important;
    padding-right: .5em !important;
    padding-bottom: 0 !important;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}
