* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Playfair Display', serif;
    letter-spacing: .02em;
}

nav {
    height: auto;
    background-color: #212121;
    box-shadow: 0px 0px 10px 1px #000;
    position: fixed;
    width: 100%;
    text-align: center;
    z-index: 2;
}

nav ul {
    width: 100%;
    margin: 0;
    padding: 20px 0px;
}

nav ul li {
    display: inline;
    text-align: center;
    vertical-align: middle;
}

nav ul li a {
    text-decoration: none !important;
    color: #FFF !important;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 15pt;
    margin-left: 50px;
    margin-right: 50px;
    position: relative;
    transition: all 0.3s ease;
    padding-bottom: 3px;
}

nav ul li a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FFF;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

nav ul li a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.home {
    font-family: 'Playfair Display', serif;
    font-size: 30pt;
    line-height: 3vh;
}

.homeR {
    display: none;
}

label {
    margin: 30px !important;
    font-size: 26px;
    display: none !important;
    color: #fff;
    width: 25px;
    float: right;
}

#toggle {
    display: none;
}

@media only screen and (max-width: 747px) {
    label {
        display: block !important;
        cursor: pointer;
    }

    ul {
        text-align: center;
        width: 100%;
        display: none;
        margin-top: 50px !important;
    }

    li a {
        display: block;
        margin: 40px 0 40px 0 !important;
        text-align: center;
    }

    #toggle {
        transition: all 0.3s ease;
    }

    #toggle:checked + ul {
        display: block !important;
    }

    nav ul li a:before {
        height: 0px;
    }

    .home {
        display: none;
    }
    
    .homeR {
        display: block;
    }
}

.bg-header {
    height: 100vh;
    width: 100%;
    background-image: url(../img/bg-header.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.headerText {
    color: #212121;
    display: block;
    position: relative;
    text-align: center;
    font-size: 45pt;
    font-weight: 500;
    top: 40vh;
}

@media (max-width: 711px) {
    .headerText {
        font-size: 8vw;
    }

    .headerSubText {
        font-size: 17px !important;
    }
}

.headerText mark {
    background-color: rgba(255, 195, 18, 0.3) !important;
    display: inline-block;
    height: 0.7em;
    padding-left: .2em !important;
    padding-right: .2em !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.headerSubText {
    color: #212121;
    display: block;
    position: relative;
    text-align: center;
    font-size: 20pt;
    font-weight: 500;
    top: 40vh;
    margin-left: auto;
    margin-right: auto;
}

.readMore {
    display: block;
    position: relative;
    text-align: center;
    top: 75%;
    font-size: 15pt;
    color: #212121;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-transform: uppercase;

}

.arrowDown {
    position: relative;
    text-align: center;
    top: 75%;
}

.arrowDown a img {
    width: 32px;
}

#spacing {
    height: 100px;
}

.bg-cards {
    background-color: #eeede9;
    padding-bottom: 25%;
    margin-top: -16%;
    margin-bottom: 100px;
}

.square {
    display: inline-block;
    position: relative;
    width: 25%;
    padding-bottom: 25%;
    margin: 1.5rem;
    background-color: #212121;
    overflow: hidden;
    box-shadow: 0px 0px 20px 10px #c1c1c1;
    transition: all 0.3s ease;
}

.square:hover {
    box-shadow: 0px 0px #ffc312, 0px 0px #ffc312, 0px 0px #ffc312;
    transform: scale(1.02);
}

.content {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 10% 5%;
}

.table {
    display: table;
    height: 100%;
    width: 100%;
}

.table-cell {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    width: 100%;
}

.colIcons {
    display: block;
    position: relative;
    width: 20%;
    ;
    margin: 0 auto;
}

.textCards {
    margin-top: 40px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .1em;
    text-align: center;
    color: #FFF;
}

@media (max-width: 768px) {
    .square {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 100px;
        width: 80%;
        padding-bottom: 80%;
    }

    .mwText {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .bg .row {
        width: 90vw !important;
    }

    .bgText p {
        font-size: 12pt !important;
    }

    .borderYellow {
        display: none !important;
    }
}

.imgResponsive {
    width: 100%;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

h5 {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 700 !important;
    letter-spacing: 0.2em;
}

.stripes {
    overflow: hidden;
    text-align: center;
    color: #919191
}

.stripes:before,
.stripes:after {
    background-color: #919191;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 5%;
}

.stripes:before {
    right: 1em;
    margin-left: -50%;
}

.stripes:after {
    left: 1em;
    margin-right: -50%;
}

.titleResponsive {
    margin-top: 10vh;
}

.marker mark {
    background-color: rgba(255, 195, 18, 0.3) !important;
    display: inline-block;
    height: 0.7em;
    padding-left: .2em !important;
    padding-right: .2em !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.textResponsive {
    width: 60%;
    line-height: 1.5em;
}

.button {
    color: #000;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid white;
    border-top: 2px solid white;
    letter-spacing: 3px;
    font-size: 15pt;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-transform: uppercase !important;
    background-color: #fff;
    padding: 5px 15px;
    transition: all 0.3s ease;
    margin: 0 !important;
}

.bg {
    margin-top: 125px;
    margin-bottom: 100px;
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    display: flex;
    align-items: center;
}

.bg .row {
    width: 66vw;
}

.bgText p {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    line-height: 1.5;
    font-size: 15pt;
}

.homePortfolio {
    margin-bottom: 100px;
}

.borderYellow {
    border: 2px solid rgba(255, 195, 18, 0.3);
    border-radius: 10px;
}

/* Footer */
.mdb-color {
    background-color: #212121 !important;
}

footer.page-footer {
    color: #fff;
}

.hrColor {
    background-color: #fff;
}

.lhLow {
    margin-top: 35px;
    line-height: 1.5;
    font-weight: 300;
    font-size: 13px;
}

.footerIcons {
    width: 20px;
    margin: 0 5px 4px 0px;
}

footer div div div h6,
footer div div div p,
footer div div div a:hover {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-weight: 300;
    color: #fff;
}

footer div div div a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-size: 13px;
    font-weight: 300;
    color: #fff;
}

.contactMarker mark {
    background-color: rgba(255, 195, 18, 0.3) !important;
    display: inline-block;
    height: 0.8em;
    padding-left: .5em !important;
    padding-right: .5em !important;
    padding-bottom: 0 !important;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

@media (max-width: 658px) {
    .bg {
        margin: 200px 0px;
    }
}

@media (max-width: 501px) {
    .button {
        font-size: 14pt !important;
    }
}

@media (max-width: 991px) {
    .textCenter {
        text-align: center;
    }

    .textResponsive {
        margin-left: auto;
        margin-right: auto;
        width: 80% !important;
    }

    .colPortfolio {
        text-align: center;
        margin-bottom: 100px;
    }

    .button {
        max-width: auto !important;
        width: auto !important;
        font-size: 14pt;
    }

    .none {
        display: none;
    }
}

.button {
    background: none;
    border: 0;
    box-sizing: border-box;
    padding: 1em 2em;
    color: #000;
    font-size: inherit;
    font-weight: 400;
    position: relative;
    vertical-align: middle;
}

.button::before,
.button::after {
    box-sizing: inherit;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
}

.draw {
    transition: color 0.25s;
}

.draw::before,
.draw::after {
    border: 2px solid transparent;
    width: 0;
    height: 0;
}

.draw::before {
    top: 0;
    left: 0;
}

.draw::after {
    bottom: 0;
    right: 0;
}

.draw:hover {
    color: #000;
    border: rgba(0, 0, 0, 0);
}

.draw:hover::before,
.draw:hover::after {
    width: 100%;
    height: 100%;
}

.draw:hover::before {
    border-top-color: rgba(255, 195, 18, 0.3);
    border-right-color: rgba(255, 195, 18, 0.3);
    transition: width 0.1s ease, height 0.1s ease 0.1s;
}

.draw:hover::after {
    border-bottom-color: rgba(255, 195, 18, 0.3);
    border-left-color: rgba(255, 195, 18, 0.3);
    transition: border-color 0s ease-out 0.1s, width 0.3s ease-out 0.1s, height 0.3s ease-out 0.3s;
}
