* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Playfair Display', serif;
    letter-spacing: .02em;
}

nav {
    height: auto;
    background-color: #212121;
    box-shadow: 0px 0px 10px 1px #000;
    position: fixed;
    width: 100%;
    text-align: center;
    z-index: 2;
}

nav ul {
    width: 100%;
    margin: 0;
    padding: 20px 0px;
}

nav ul li {
    display: inline;
    text-align: center;
    vertical-align: middle;
}

nav ul li a {
    text-decoration: none !important;
    color: #FFF !important;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 15pt;
    margin-left: 50px;
    margin-right: 50px;
    position: relative;
    transition: all 0.3s ease;
    padding-bottom: 3px;
}

nav ul li a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FFF;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

nav ul li a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.home {
    font-family: 'Playfair Display', serif;
    font-size: 30pt;
    line-height: 3vh;
}

.homeR {
    display: none;
}

label {
    margin: 30px !important;
    font-size: 26px;
    display: none !important;
    color: #fff;
    width: 25px;
    float: right;
}

#toggle {
    display: none;
}

@media only screen and (max-width: 747px) {
    label {
        display: block !important;
        cursor: pointer;
    }

    ul {
        text-align: center;
        width: 100%;
        display: none;
        margin-top: 50px !important;
    }

    li a {
        display: block;
        margin: 40px 0 40px 0 !important;
        text-align: center;
    }

    #toggle {
        transition: all 0.3s ease;
    }

    #toggle:checked + ul {
        display: block !important;
    }

    nav ul li a:before {
        height: 0px;
    }

    .home {
        display: none;
    }
    
    .homeR {
        display: block;
    }
}

.bg-header {
    height: 100vh;
    width: 100%;
    background-image: url(../img/bg-header-work.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.headerText {
    color: #212121;
    display: block;
    position: relative;
    text-align: center;
    font-size: 45pt;
    font-weight: 500;
    top: 40vh;
}

@media (max-width: 711px) {
    .headerText {
        font-size: 8vw;
    }

    .headerSubText {
        font-size: 4vw !important;
    }
}

.headerText mark {
    background-color: rgba(255, 195, 18, 0.3) !important;
    display: inline-block;
    height: 0.7em;
    padding-left: .2em !important;
    padding-right: .2em !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.headerSubText {
    color: #212121;
    display: block;
    position: relative;
    text-align: center;
    font-size: 20pt;
    font-weight: 500;
    top: 40vh;
    margin-left: auto;
    margin-right: auto;
}

.readMore {
    display: block;
    position: relative;
    text-align: center;
    top: 75%;
    font-size: 15pt;
    color: #212121;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-transform: uppercase;

}

.arrowDown {
    position: relative;
    text-align: center;
    top: 75%;
}

.arrowDown a img {
    width: 32px;
}

#spacing {
    height: 100px;
}

.zoomPortfolio {
    height: 800px;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.zoomPortfolio:hover {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.0);
}

.zoomPortfolio img {
    transition: all 0.3s ease;
    filter: blur(4px);
    transform: scale(1.1);
    transform-origin: center
}

.zoomPortfolio:hover img {
    filter: blur(0px);
    transform: scale(1);
}

.titlePortfolio {
    text-align: left;
    margin-top: 40px;
}

.textPortfolio {
    text-align: left;
}

/* Footer */
.mdb-color {
    background-color: #212121 !important;
}

footer.page-footer {
    color: #fff;
}

.hrColor {
    background-color: #fff;
}

.lhLow {
    margin-top: 35px;
    line-height: 1.5;
    font-weight: 300;
    font-size: 13px;
}

.footerIcons {
    width: 20px;
    margin: 0 5px 4px 0px;
}

footer div div div h6,
footer div div div p,
footer div div div a:hover {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-weight: 300;
    color: #fff;
}

footer div div div a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-size: 13px;
    font-weight: 300;
    color: #fff;
}

.contactMarker mark {
    background-color: rgba(255, 195, 18, 0.3) !important;
    display: inline-block;
    height: 0.8em;
    padding-left: .5em !important;
    padding-right: .5em !important;
    padding-bottom: 0 !important;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

@media (max-width: 768px) {
    .zoomPortfolio {
        width: 100%;
    }

    .zoomPortfolio img {
        width: 100%;
    }
    
    .titlePortfolio {
        text-align: center;
    }
    
    .textPortfolio {
        text-align: center;
        margin-bottom: 100px;
    }
}

